body {
  margin: 0;
  font-family: 'Barlow';
  min-height: 100vh;
  position: relative;
  background-color: rgb(250, 248, 241);
}

html, .full-height {
  height: 100%;
}

input, textarea {
  font-family: 'Barlow';
  font-size: 16px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}

textarea {
  resize: none;
}

.login-page {
  background-color: rgb(124, 173, 182);
  min-height: 100vh;
}

.login-page .card, .login-page .card:hover {
  margin: 1rem auto auto auto!important;
}

.user-form input, .user-form textarea {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
}

.navbar {
  background-color: rgb(124, 173, 182);
  padding: 1em;
}

.navbar button {
  background-color: rgb(245, 206, 14);
}

.logo {
  font-family: 'Courgette';
  color: white;
  font-size: 48px;
  text-shadow: 0 0 5px rgb(86, 119, 125);
}

.nav-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;
  column-gap: 1em;
  color: white;
  font-size: 18px;
}

.padding {
  padding: 2% 4%;
}

.collection-info {
  padding: 2% 4%;
  background-image: linear-gradient(to top left, rgb(200, 232, 205),rgb(233, 249, 236));
  align-items: normal!important;
  gap: 10px;
}

.collection-info-inner {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  column-gap: 5em;
}

.description-box {
  margin-top: 1%;
  max-width: 45vmax;
}

.description-box textarea {
  width: 45vw;
}

.name-block, .subject-block, .description-box {
  min-width: 45vmin;
}

.name-block input, .subject-block input {
  width: 45vmin;
}

.popup-content {
  position: fixed!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%);
}

.popup {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(176, 176, 176);
  display: flex;
  flex-direction: column;
}

.popup input {
  margin: 1rem;
}

.fixed-position-bottom {
  position: fixed;
  bottom: -5px;
  left: 5%;
  width: 90%;
  height: 4rem;
  background-color: white;
  box-shadow: 0 0 5px rgb(196, 196, 196);
  border-radius: 5px;
  transition: .5s all;
}

.fixed-position-bottom:hover {
  height: 4.5rem;
  left: 4%;
  width: 92%;
  bottom: 0;
}

.fixed-position-bottom button {
  height: 50%;
  width: 15%;
  min-width: 10rem;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
  margin: 2% 3%;
}

.flashcard-form textarea {
  width: 40vmax;
  min-height: 40vh;
  padding: 8px;
}

.flashcard-form div {
  width: 40vmax;
}

.title {
  font-family: 'Roboto Slab';
  margin: 0;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

.card {
  background-color: white;
  width: 250px;
  min-height: 250px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: .5s all;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 10px gray;
  padding: 25px;
  margin: 15px;
}

.card-bottom p {
  text-align: right;
  font-size: 14px;
  margin-bottom: 1em!important;
}

.card h3 {
  color:rgb(242, 120, 146);
  margin-bottom: .5em; /*for space under title in login page*/
}

.card .title {
  color: rgb(10, 146, 180); 
}

.card p {
  color: gray;
}

.card i, .popup i {
  color: gray;
  text-align: right;
  cursor: pointer;
}

.card.flashcard p {
  color: black;
}

.flashcard {
  width: 25%!important;
  min-width: 250px;
  cursor: default;
}

.testing-card {
  font-family: 'Noto Serif';
  font-size: 3vmin;
  width: 85vmin;
  height: 50vmin;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  transition: transform .5s;
  transform-style: preserve-3d;
}

.testing-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5vmin;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.testing-buttons {
  gap: 1vw;
}

.testing-buttons button {
  width: 30vmin;
  max-width: 130px;
  padding: 4px 10px;
}

.testing-card, .testing-buttons i, .fa-arrow-left {
  cursor: pointer;
  margin: .5rem;
}

.fa-angle-left, .fa-angle-right {
  font-size: 12px;
}

.fa-check-circle {
  font-size: 32px;
  color: green;
}

.fa-times-circle {
  font-size: 32px;
  color: red;
}

.invisible {
  opacity: 0;
  cursor: default;
}

.error {
  color: red!important;  
  background-color: rgb(255, 221, 221);
  padding: 0 .5rem;
  border-radius: 3px;
  width: fit-content;
}

.error i {
  color: red!important; 
}

.green-message {
  color: green!important;  
  background-color: rgb(199, 251, 199);
  padding: 0 .5rem;
  border-radius: 3px;
}

.green-message i {
  color: green!important;
}

.cancel-button {
  background-color: rgb(181, 189, 188)!important;
}

.cancel-button:hover {
  background-color: rgb(183, 201, 200)!important;
}

.delete-button {
  color: red;
  background-color: white;
  border: 1px solid lightgray;
}

.delete-button:hover {
  background-color: rgb(246, 221, 221);
}

.blue-button {
  background-color: rgb(10, 146, 180);
}

.pink-button {
  background-color: rgb(248, 147, 169);
}

.plain-button {
  color: black;
  background: none;
  text-decoration: underline;
}

.praise {
  font-family: 'Courgette';
  font-size: 36px;
}

.center {
  text-align: center;
}

.bottom-margin {
  margin-bottom: 4rem;
}

.left-margin {
  margin-left: 5px!important;
}

.footer {
  position: absolute;
  bottom: 1em;
  width: 92%;
}

.about-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.about-elements div {
  width: 20vmax;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: .5em;
}

label, .fa-arrow-left:hover, .card i:hover, .popup i:hover {
  color: rgb(2, 159, 138);
}

button {
  font-family: 'Roboto Slab';
  font-size: 14px;
  color: white;
  background-color: rgb(104, 218, 164);
  border: none;
  border-radius: 5px;
  padding: .5em 1.2em;
  cursor: pointer;
}

button:hover {
  filter: brightness(107%);
}

button:disabled {
  background-color:rgba(112, 165, 178, 0.315)!important;
  color: rgba(16, 16, 16, 0.3)!important;
  cursor: default;
}

button:disabled:hover {
  filter: brightness(100%);
}